@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f6efeb;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}

body {

}

a {
  
}

@media (prefers-color-scheme: dark) {
 
}
